{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "rules": {
    "global-require": "off",
    "import/no-dynamic-require": "off",
    "no-console": "off",
    "no-control-regex": "off",
    "prefer-destructuring": [
      "error",
      {
        "VariableDeclarator": {
          "array": false,
          "object": true
        },
        "AssignmentExpression": {
          "array": false,
          "object": false
        }
      },
      {
        "enforceForRenamedProperties": false
      }
    ]
  }
}
